/* StudentDashboard.css */
.student-dashboard {
    display: flex;
    flex-direction: column;
  }
  
  /* Top Navbar */
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .sidebar {
    width: 250px;
    height: 350px;
    background-color: #343a40;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar .nav-link {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 1px solid #495057;
  }
  
  .sidebar .nav-link:hover,
  .sidebar .nav-link:active {
    background-color: #495057;
    color: orange;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  